# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# DataSpell / PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Python distribution
build/
dist/
*.egg-info/

# Environment variables
.env